/*
    Author  : jaisharx <sendtojsharma@gmail.com>
    Date    : 25-01-2021
    Purpose : ALL STYLES
*/

// base styles
@import './base/base';

// component styles
@import './components/navbar';
@import './components/footer';
@import './components/button';



// page styles
@import './pages/home';
